{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if following_communities.count %}
<div class="containers font-weight-bold text-center  community-list-header ">
    {{ "COMMUNITIES FOLLOWED " | lower | capfirst | title }}
	
	<a href="{% url 'about-user' about_user.pk %}">
		{{about_user.first_name}}
	</a>

    <div class="containers" style="width: 10em;margin: auto;">
        <hr>
    </div>
    </div>
{% endif %}



<div class="community-list-container " id="community-list-container">

	{% if following_communities.count == 1 %}
	
	<div class="container row row-cols-1 row-cols-md-2 col-md-12 single-community" id="single-community"
	 >
	
	{% elif following_communities.count == 2 %}
	
	<div class="container row row-cols-1 col-md-12 row-cols-md-2 community-full-width"
	 style="margin: auto;width: 75%;">
	
	{% else %}
	<div class="row row-cols-1 row-cols-md-3 ">
	
	{% endif %}
	
	{% for community in following_communities %}
	
					
	{% if following_communities.count <= 2 %}
		<div class="col mb-4  col-md-6 community-no-margin" style="margin: auto;">
	{% elif following_communities.count == 3 %}

		<div class="col mb-4  col-md-6 col-lg-4 community-no-margin" style="margin: auto;">

	{% else %}
		<div class="col-lg-4 col-md-6 " style="width: 100% !important;">
	{% endif %}

		<!-- Card -->
		<div class="cards community-single ">

			<!--Card image-->
			<a href="{% url 'community-detail' community.group.slug %}">
				

					{% if community.group.group_profile_pic %}
					<div class="img-round zoom">

						<img class="card-img-top img-fluid " data-toggle="popover-hover"
							data-="{{community.group.description | safe | striptags | title}}"
							src="{{community.group.group_profile_pic.url}}" alt="Card image cap">
					</div>
					{% else %}

					<div class="no-community-icon zoom z-depth-1-half hoverable"
					data-toggle="popover-hover"
					data-="{{community.group.description | safe | striptags | title}}">
					
						<i class="fa fa-users "  
						id="community-icon" ></i>
					</div>

					{% endif %}

				
			</a>
			<!--Card content-->
			<div class="card-body ">

				<!--Title-->
				<h4 class="card-title text-center community-name">
					{{community.group.name | safe | striptags | upper }}
				</h4>
				<!--Text-->
				<!-- <p class="card-text text-center community-list-desc">
				({{community.description | safe | striptags | title}})
			</p> -->
			</div>

		</div>

		<!-- Card -->
	</div>


				{% endfor %}

		</div>
</div>


<div class="col mb-4 mobile-br" style="display: none;">
	<br>
</div>

		<script>

			// popovers initialization - on hover
			$('[data-toggle="popover-hover"]').popover({
				html: true,
				trigger: 'hover',
				placement: 'top',
				content: function () {
					return '<p class="card-text text-center font-weight-bold" >' +
						$(this).data('') + '</p>'
				}
			});


		</script>

		{% endblock content %}